body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: white;
    background: url("https://www.pedestrian.tv/content/uploads/2019/05/will-smith-90s-site-637x397.png")
  }
  
  * {
    box-sizing: border-box;
  }

.main-header{
    text-align: center;
}

h4 {
    color: black;
}

h2, {
    text-align: center;
}

.centerTool {
    text-align: center;
}

#heading {
    color: #6BD052;
    background-color: #5170FF;
    margin: 190px;
    
    
}
#sizing {
    float: center;
}
#mainpicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */
    width: 100%;
    height: 200px;
}

.hideOverflow {

    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

div.panel-heading {
    padding: 20px;
}

#word-blanks {
    border-right: 10px;
}