body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: white;
    background: url("https://www.pedestrian.tv/content/uploads/2019/05/will-smith-90s-site-637x397.png")
  }
  
  * {
    box-sizing: border-box;
  }

.main-header{
    text-align: center;
}

h4 {
    color: black;
}





  #mainpicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */
    width: 100%;
    height: 200px;
}

  .mugShot {
    margin: 0 auto;
    text-align: center;
  }

  .pword{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }

  .cword{
    margin: 0 auto;
    max-width: autp;
    text-align: center;
    width: 18rem;
  }

  .score{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }

  .input{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }

  .hintz{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }